@{
    ViewData["Title"] = "Category";
}
@model CategoryModel
<form method="post" asp-controller="Category" asp-action="Add">
    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <input type="text" class="form-control" name="Name" id="Name" >
    </div>
    <div class="form-group">

        <label asp-for="CategoryId"></label>
        <select asp-for="CategoryId" class="form-control js-example-basic-single" asp-items="ViewBag.Category">
            <option value=""></option>
        </select>
        <span asp-validation-for="CategoryId" class="validation"></span>
    </div>
    <button type="submit" class="btn d-block mx-auto w-25 btn-primary">Add</button>
</form>