@model ResigterModel
@{
    ViewData["Title"] = "Register";
}

<form method="post" asp-controller="User" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="UserName">UserName</label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber">PhoneNumber</label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        <label asp-for=" ConfirmPassword"> Confirm Password</label>
        <input asp-for=" ConfirmPassword" class="form-control" />
        <span asp-validation-for=" ConfirmPassword"></span>
    </div>
    <input type="submit" value="Sign Up" class="btn btn-primary" />
</form>